.sticky-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .center-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .menu-button {
    margin-left: auto; 
  }
  
  .spacer {
    flex-grow: 1;
  }
  