<mat-toolbar color="primary" class="sticky-toolbar">
    <span class="text-xl font-bold">Mi Plataforma</span>
    <span class="spacer"></span>

    <nav>
        <button mat-button>Ejercicios</button>
        <button mat-button>Tareas</button>
        <button mat-button>Examen</button>
        <button mat-button>Acerca de...</button>
    </nav>

    <span class="spacer"></span>

    <button>
        <img src="assets/images/user.png" alt="Usuario" class="user-avatar" width="40px" height="40px" border-radius="5px">
    </button>
</mat-toolbar>



