html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la ventana */
    width: 100%;
  }
  
  /* El navbar se mantiene en la parte superior */
  .page-container app-navbar {
    flex: 0 0 auto;
  }
  
  /* El contenedor central se expande para ocupar el espacio restante */
  .content-wrapper {
    flex: 1;
    display: flex;
  }
  
  /* Sidebar a la izquierda */
  .content-wrapper app-sidebar {
    flex: 0 0 15%;
    background-color: rgb(255, 255, 255);
  }
  
  /* Contenedor para el contenido principal y el footer */
  .content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Contenido principal arriba */
  .content-area app-page-content {
    flex: 1;
    background-color: rgb(228, 228, 207);
    padding: 10px;
  }

  .content-area app-footer {
    flex: 0 0 auto;
   
  }

.content-area app-breadcrumb {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    background-color:  rgb(224, 143, 218);;
  }
  