<app-navbar></app-navbar>
<div class="container">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <app-page-content>
    <div class="container-wrap">   <!-- el container wrap ocupe todo el page-content solo un margen para que sea la difenrecia -->
      <!-- Contenido de la página (resto del espacio disponible) -->
    <app-content></app-content>  
    <!-- Breadcrumb (5vh de altura) -->
    <app-breadcrump></app-breadcrump> 
    <!-- Footer (5vh de altura) -->
    <app-footer></app-footer>
    </div>
  </app-page-content>
</div>
